In statistics, exploratory data analysis (EDA) is an approach to analyzing data sets to summarize their main characteristics, often with visual methods. A statistical model can be used or not, but primarily EDA is for seeing what the data can tell us beyond the formal modeling or hypothesis testing task. Exploratory data analysis was promoted by John Tukey to encourage statisticians to explore the data, and possibly formulate hypotheses that could lead to new data collection and experiments. EDA is different from initial data analysis (IDA),which focuses more narrowly on checking assumptions required for model fitting and hypothesis testing, and handling missing values and making transformations of variables as needed. EDA encompasses IDA.

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('mba.csv')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.dtypes

shrimp                object
almonds               object
avocado               object
vegetables mix        object
green grapes          object
whole weat flour      object
yams                  object
cottage cheese        object
energy drink          object
tomato juice          object
low fat yogurt        object
green tea             object
honey                 object
salad                 object
mineral water         object
salmon                object
antioxydant juice     object
frozen smoothie       object
spinach               object
olive oil            float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
shrimp               7500 non-null object
almonds              5746 non-null object
avocado              4388 non-null object
vegetables mix       3344 non-null object
green grapes         2528 non-null object
whole weat flour     1863 non-null object
yams                 1368 non-null object
cottage cheese       980 non-null object
energy drink         653 non-null object
tomato juice         394 non-null object
low fat yogurt       255 non-null object
green tea            153 non-null object
honey                86 non-null object
salad                46 non-null object
mineral water        24 non-null object
salmon               7 non-null object
antioxydant juice    3 non-null object
frozen smoothie      3 non-null object
spinach              2 non-null object
olive oil            0 non-null float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
shrimp               7500 non-null object
almonds              5746 non-null object
avocado              4388 non-null object
vegetables mix       3344 non-null object
green grapes         2528 non-null object
whole weat flour     1863 non-null object
yams                 1368 non-null object
cottage cheese       980 non-null object
energy drink         653 non-null object
tomato juice         394 non-null object
low fat yogurt       255 non-null object
green tea            153 non-null object
honey                86 non-null object
salad                46 non-null object
mineral water        24 non-null object
salmon               7 non-null object
antioxydant juice    3 non-null object
frozen smoothie      3 non-null object
spinach              2 non-null object
olive oil            0 non-null float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB
None

In [8]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(df.head())

           shrimp    almonds     avocado    vegetables mix green grapes  \
0         burgers  meatballs        eggs               NaN          NaN
1         chutney        NaN         NaN               NaN          NaN
2          turkey    avocado         NaN               NaN          NaN
3   mineral water       milk  energy bar  whole wheat rice    green tea
4  low fat yogurt        NaN         NaN               NaN          NaN

  whole weat flour yams cottage cheese energy drink tomato juice  \
0              NaN  NaN            NaN          NaN          NaN
1              NaN  NaN            NaN          NaN          NaN
2              NaN  NaN            NaN          NaN          NaN
3              NaN  NaN            NaN          NaN          NaN
4              NaN  NaN            NaN          NaN          NaN

  low fat yogurt green tea honey salad mineral water salmon antioxydant juice  \
0            NaN       NaN   NaN   NaN           NaN    NaN               NaN
1            NaN       NaN   NaN   NaN           NaN    NaN               NaN
2            NaN       NaN   NaN   NaN           NaN    NaN               NaN
3            NaN       NaN   NaN   NaN           NaN    NaN               NaN
4            NaN       NaN   NaN   NaN           NaN    NaN               NaN

  frozen smoothie spinach  olive oil
0             NaN     NaN        NaN
1             NaN     NaN        NaN
2             NaN     NaN        NaN
3             NaN     NaN        NaN
4             NaN     NaN        NaN

In [10]:
df.tail()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.tail(3)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.sample

<bound method NDFrame.sample of                  shrimp            almonds            avocado  \
0               burgers          meatballs               eggs
1               chutney                NaN                NaN
2                turkey            avocado                NaN
3         mineral water               milk         energy bar
4        low fat yogurt                NaN                NaN
5     whole wheat pasta       french fries                NaN
6                  soup        light cream            shallot
7     frozen vegetables          spaghetti          green tea
8          french fries                NaN                NaN
9                  eggs           pet food                NaN
10              cookies                NaN                NaN
11               turkey            burgers      mineral water
12            spaghetti          champagne            cookies
13        mineral water             salmon                NaN
14        mineral water                NaN                NaN
15               shrimp          chocolate            chicken
16               turkey               eggs                NaN
17               turkey         fresh tuna           tomatoes
18            meatballs               milk              honey
19             red wine             shrimp              pasta
20                 rice    sparkling water                NaN
21            spaghetti      mineral water                ham
22              burgers      grated cheese             shrimp
23                 eggs                NaN                NaN
24      parmesan cheese          spaghetti               soup
25          ground beef          spaghetti      mineral water
26      sparkling water                NaN                NaN
27        mineral water               eggs            chicken
28    frozen vegetables          spaghetti               yams
29        herb & pepper       tomato sauce        light cream
...                 ...                ...                ...
7470      mineral water          chocolate                NaN
7471          chocolate      grated cheese      mineral water
7472   whole wheat rice               cake     cottage cheese
7473             turkey             shrimp              pasta
7474             turkey      mineral water        cooking oil
7475           tomatoes       tomato sauce          spaghetti
7476       tomato juice                NaN                NaN
7477             turkey        ground beef      mineral water
7478             shrimp              pasta      mineral water
7479  frozen vegetables        french wine           pancakes
7480          chocolate             shrimp              pasta
7481          chocolate                NaN                NaN
7482         fresh tuna    parmesan cheese  whole wheat pasta
7483            cookies       energy drink                NaN
7484    parmesan cheese          champagne         white wine
7485           red wine       tomato sauce          spaghetti
7486               soup               milk                NaN
7487               eggs   whole wheat rice                NaN
7488           brownies                NaN                NaN
7489      herb & pepper          spaghetti     low fat yogurt
7490      herb & pepper                NaN                NaN
7491          chocolate           escalope                NaN
7492            burgers             salmon           pancakes
7493             turkey            burgers       dessert wine
7494           pancakes         light mayo                NaN
7495             butter         light mayo        fresh bread
7496            burgers  frozen vegetables               eggs
7497            chicken                NaN                NaN
7498           escalope          green tea                NaN
7499               eggs    frozen smoothie        yogurt cake

        vegetables mix     green grapes whole weat flour              yams  \
0                  NaN              NaN              NaN               NaN
1                  NaN              NaN              NaN               NaN
2                  NaN              NaN              NaN               NaN
3     whole wheat rice        green tea              NaN               NaN
4                  NaN              NaN              NaN               NaN
5                  NaN              NaN              NaN               NaN
6                  NaN              NaN              NaN               NaN
7                  NaN              NaN              NaN               NaN
8                  NaN              NaN              NaN               NaN
9                  NaN              NaN              NaN               NaN
10                 NaN              NaN              NaN               NaN
11                eggs      cooking oil              NaN               NaN
12                 NaN              NaN              NaN               NaN
13                 NaN              NaN              NaN               NaN
14                 NaN              NaN              NaN               NaN
15               honey              oil      cooking oil    low fat yogurt
16                 NaN              NaN              NaN               NaN
17           spaghetti    mineral water        black tea            salmon
18        french fries      protein bar              NaN               NaN
19              pepper             eggs        chocolate           shampoo
20                 NaN              NaN              NaN               NaN
21          body spray         pancakes        green tea               NaN
22               pasta          avocado            honey        white wine
23                 NaN              NaN              NaN               NaN
24             avocado             milk      fresh bread               NaN
25                milk       energy bar        black tea            salmon
26                 NaN              NaN              NaN               NaN
27           chocolate     french fries              NaN               NaN
28       mineral water              NaN              NaN               NaN
29           magazines              NaN              NaN               NaN
...                ...              ...              ...               ...
7470               NaN              NaN              NaN               NaN
7471         olive oil        green tea              NaN               NaN
7472               NaN              NaN              NaN               NaN
7473     mineral water        chocolate             milk            salmon
7474         chocolate     french fries      protein bar               NaN
7475     mineral water             soup        olive oil     mashed potato
7476               NaN              NaN              NaN               NaN
7477         chocolate             soup         pancakes  whole wheat rice
7478         olive oil         pancakes        bug spray    low fat yogurt
7479      french fries        champagne     strawberries               NaN
7480         spaghetti              NaN              NaN               NaN
7481               NaN              NaN              NaN               NaN
7482       french wine    fromage blanc   cottage cheese          brownies
7483               NaN              NaN              NaN               NaN
7484               NaN              NaN              NaN               NaN
7485         chocolate        olive oil     french fries              salt
7486               NaN              NaN              NaN               NaN
7487               NaN              NaN              NaN               NaN
7488               NaN              NaN              NaN               NaN
7489               NaN              NaN              NaN               NaN
7490               NaN              NaN              NaN               NaN
7491               NaN              NaN              NaN               NaN
7492      french fries  frozen smoothie      fresh bread              mint
7493            shrimp            pasta         tomatoes            pepper
7494               NaN              NaN              NaN               NaN
7495               NaN              NaN              NaN               NaN
7496      french fries        magazines        green tea               NaN
7497               NaN              NaN              NaN               NaN
7498               NaN              NaN              NaN               NaN
7499    low fat yogurt              NaN              NaN               NaN

       cottage cheese energy drink          tomato juice   low fat yogurt  \
0                 NaN          NaN                   NaN              NaN
1                 NaN          NaN                   NaN              NaN
2                 NaN          NaN                   NaN              NaN
3                 NaN          NaN                   NaN              NaN
4                 NaN          NaN                   NaN              NaN
5                 NaN          NaN                   NaN              NaN
6                 NaN          NaN                   NaN              NaN
7                 NaN          NaN                   NaN              NaN
8                 NaN          NaN                   NaN              NaN
9                 NaN          NaN                   NaN              NaN
10                NaN          NaN                   NaN              NaN
11                NaN          NaN                   NaN              NaN
12                NaN          NaN                   NaN              NaN
13                NaN          NaN                   NaN              NaN
14                NaN          NaN                   NaN              NaN
15                NaN          NaN                   NaN              NaN
16                NaN          NaN                   NaN              NaN
17               eggs      chicken  extra dark chocolate              NaN
18                NaN          NaN                   NaN              NaN
19                NaN          NaN                   NaN              NaN
20                NaN          NaN                   NaN              NaN
21                NaN          NaN                   NaN              NaN
22         toothpaste          NaN                   NaN              NaN
23                NaN          NaN                   NaN              NaN
24                NaN          NaN                   NaN              NaN
25    frozen smoothie     escalope                   NaN              NaN
26                NaN          NaN                   NaN              NaN
27                NaN          NaN                   NaN              NaN
28                NaN          NaN                   NaN              NaN
29                NaN          NaN                   NaN              NaN
...               ...          ...                   ...              ...
7470              NaN          NaN                   NaN              NaN
7471              NaN          NaN                   NaN              NaN
7472              NaN          NaN                   NaN              NaN
7473   vegetables mix      muffins                  eggs  sparkling water
7474              NaN          NaN                   NaN              NaN
7475      fresh bread   mayonnaise             green tea              NaN
7476              NaN          NaN                   NaN              NaN
7477      light cream      carrots            mayonnaise              NaN
7478              NaN          NaN                   NaN              NaN
7479              NaN          NaN                   NaN              NaN
7480              NaN          NaN                   NaN              NaN
7481              NaN          NaN                   NaN              NaN
7482            salad         mint             green tea              NaN
7483              NaN          NaN                   NaN              NaN
7484              NaN          NaN                   NaN              NaN
7485        asparagus          NaN                   NaN              NaN
7486              NaN          NaN                   NaN              NaN
7487              NaN          NaN                   NaN              NaN
7488              NaN          NaN                   NaN              NaN
7489              NaN          NaN                   NaN              NaN
7490              NaN          NaN                   NaN              NaN
7491              NaN          NaN                   NaN              NaN
7492              NaN          NaN                   NaN              NaN
7493             milk     pancakes      whole wheat rice              oil
7494              NaN          NaN                   NaN              NaN
7495              NaN          NaN                   NaN              NaN
7496              NaN          NaN                   NaN              NaN
7497              NaN          NaN                   NaN              NaN
7498              NaN          NaN                   NaN              NaN
7499              NaN          NaN                   NaN              NaN

            green tea honey salad mineral water salmon antioxydant juice  \
0                 NaN   NaN   NaN           NaN    NaN               NaN
1                 NaN   NaN   NaN           NaN    NaN               NaN
2                 NaN   NaN   NaN           NaN    NaN               NaN
3                 NaN   NaN   NaN           NaN    NaN               NaN
4                 NaN   NaN   NaN           NaN    NaN               NaN
5                 NaN   NaN   NaN           NaN    NaN               NaN
6                 NaN   NaN   NaN           NaN    NaN               NaN
7                 NaN   NaN   NaN           NaN    NaN               NaN
8                 NaN   NaN   NaN           NaN    NaN               NaN
9                 NaN   NaN   NaN           NaN    NaN               NaN
10                NaN   NaN   NaN           NaN    NaN               NaN
11                NaN   NaN   NaN           NaN    NaN               NaN
12                NaN   NaN   NaN           NaN    NaN               NaN
13                NaN   NaN   NaN           NaN    NaN               NaN
14                NaN   NaN   NaN           NaN    NaN               NaN
15                NaN   NaN   NaN           NaN    NaN               NaN
16                NaN   NaN   NaN           NaN    NaN               NaN
17                NaN   NaN   NaN           NaN    NaN               NaN
18                NaN   NaN   NaN           NaN    NaN               NaN
19                NaN   NaN   NaN           NaN    NaN               NaN
20                NaN   NaN   NaN           NaN    NaN               NaN
21                NaN   NaN   NaN           NaN    NaN               NaN
22                NaN   NaN   NaN           NaN    NaN               NaN
23                NaN   NaN   NaN           NaN    NaN               NaN
24                NaN   NaN   NaN           NaN    NaN               NaN
25                NaN   NaN   NaN           NaN    NaN               NaN
26                NaN   NaN   NaN           NaN    NaN               NaN
27                NaN   NaN   NaN           NaN    NaN               NaN
28                NaN   NaN   NaN           NaN    NaN               NaN
29                NaN   NaN   NaN           NaN    NaN               NaN
...               ...   ...   ...           ...    ...               ...
7470              NaN   NaN   NaN           NaN    NaN               NaN
7471              NaN   NaN   NaN           NaN    NaN               NaN
7472              NaN   NaN   NaN           NaN    NaN               NaN
7473  gluten free bar   NaN   NaN           NaN    NaN               NaN
7474              NaN   NaN   NaN           NaN    NaN               NaN
7475              NaN   NaN   NaN           NaN    NaN               NaN
7476              NaN   NaN   NaN           NaN    NaN               NaN
7477              NaN   NaN   NaN           NaN    NaN               NaN
7478              NaN   NaN   NaN           NaN    NaN               NaN
7479              NaN   NaN   NaN           NaN    NaN               NaN
7480              NaN   NaN   NaN           NaN    NaN               NaN
7481              NaN   NaN   NaN           NaN    NaN               NaN
7482              NaN   NaN   NaN           NaN    NaN               NaN
7483              NaN   NaN   NaN           NaN    NaN               NaN
7484              NaN   NaN   NaN           NaN    NaN               NaN
7485              NaN   NaN   NaN           NaN    NaN               NaN
7486              NaN   NaN   NaN           NaN    NaN               NaN
7487              NaN   NaN   NaN           NaN    NaN               NaN
7488              NaN   NaN   NaN           NaN    NaN               NaN
7489              NaN   NaN   NaN           NaN    NaN               NaN
7490              NaN   NaN   NaN           NaN    NaN               NaN
7491              NaN   NaN   NaN           NaN    NaN               NaN
7492              NaN   NaN   NaN           NaN    NaN               NaN
7493  frozen smoothie   NaN   NaN           NaN    NaN               NaN
7494              NaN   NaN   NaN           NaN    NaN               NaN
7495              NaN   NaN   NaN           NaN    NaN               NaN
7496              NaN   NaN   NaN           NaN    NaN               NaN
7497              NaN   NaN   NaN           NaN    NaN               NaN
7498              NaN   NaN   NaN           NaN    NaN               NaN
7499              NaN   NaN   NaN           NaN    NaN               NaN

     frozen smoothie spinach  olive oil
0                NaN     NaN        NaN
1                NaN     NaN        NaN
2                NaN     NaN        NaN
3                NaN     NaN        NaN
4                NaN     NaN        NaN
5                NaN     NaN        NaN
6                NaN     NaN        NaN
7                NaN     NaN        NaN
8                NaN     NaN        NaN
9                NaN     NaN        NaN
10               NaN     NaN        NaN
11               NaN     NaN        NaN
12               NaN     NaN        NaN
13               NaN     NaN        NaN
14               NaN     NaN        NaN
15               NaN     NaN        NaN
16               NaN     NaN        NaN
17               NaN     NaN        NaN
18               NaN     NaN        NaN
19               NaN     NaN        NaN
20               NaN     NaN        NaN
21               NaN     NaN        NaN
22               NaN     NaN        NaN
23               NaN     NaN        NaN
24               NaN     NaN        NaN
25               NaN     NaN        NaN
26               NaN     NaN        NaN
27               NaN     NaN        NaN
28               NaN     NaN        NaN
29               NaN     NaN        NaN
...              ...     ...        ...
7470             NaN     NaN        NaN
7471             NaN     NaN        NaN
7472             NaN     NaN        NaN
7473             NaN     NaN        NaN
7474             NaN     NaN        NaN
7475             NaN     NaN        NaN
7476             NaN     NaN        NaN
7477             NaN     NaN        NaN
7478             NaN     NaN        NaN
7479             NaN     NaN        NaN
7480             NaN     NaN        NaN
7481             NaN     NaN        NaN
7482             NaN     NaN        NaN
7483             NaN     NaN        NaN
7484             NaN     NaN        NaN
7485             NaN     NaN        NaN
7486             NaN     NaN        NaN
7487             NaN     NaN        NaN
7488             NaN     NaN        NaN
7489             NaN     NaN        NaN
7490             NaN     NaN        NaN
7491             NaN     NaN        NaN
7492             NaN     NaN        NaN
7493             NaN     NaN        NaN
7494             NaN     NaN        NaN
7495             NaN     NaN        NaN

In [13]:
df.sample(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
4878,mineral water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,turkey,herb & pepper,chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5300,burgers,shrimp,mineral water,cake,chocolate,french fries,escalope,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1586,soup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5343,muffins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5195,antioxydant juice,chocolate,french fries,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,meatballs,milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7306,tomatoes,whole wheat pasta,ground beef,mineral water,soup,olive oil,black tea,salmon,cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4082,burgers,eggs,barbecue sauce,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1173,chocolate,mineral water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.index

RangeIndex(start=0, stop=7500, step=1)

In [15]:
df.describe()

       olive oil
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

In [16]:
print(df.describe())

       olive oil
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

In [17]:
df.describe().round(3)

       olive oil
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

In [18]:
df.corr()

           olive oil
olive oil        NaN

In [19]:
df.columns

Index(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
       'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
       'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
       'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
       'spinach', 'olive oil'],
      dtype='object')

In [20]:
#Checking for missing Data
for col in df.columns:
    print (col + ' ' +'missing values:' + str((df[col].isnull().sum())) or str(df[col].isna().sum()))

shrimp missing values:0
almonds missing values:1754
avocado missing values:3112
vegetables mix missing values:4156
green grapes missing values:4972
whole weat flour missing values:5637
yams missing values:6132
cottage cheese missing values:6520
energy drink missing values:6847
tomato juice missing values:7106
low fat yogurt missing values:7245
green tea missing values:7347
honey missing values:7414
salad missing values:7454
mineral water missing values:7476
salmon missing values:7493
antioxydant juice missing values:7497
frozen smoothie missing values:7497
spinach missing values:7498
olive oil missing values:7500

In [21]:
df.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

## Saman Siadati - Feb 2020